<div class="sidebar-wrapper">
   <div class="sidebar sidebar-collapse" id="sidebar">
      <div class="sidebar__menu-group">
         <ul class="sidebar_nav">
            <li class="">
               <a href="">
                  <span class="nav-icon fa-solid fa-house"></span>
                  <span class="menu-text">Ana Səhifə</span>
               </a>
            </li>
         </ul>
      </div>
   </div>
</div>